[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/dwm"]
	path = bundle/dwm
	url = https://github.com/spolu/dwm.vim
[submodule "bundle/go"]
	path = bundle/go
	url = https://github.com/uggedal/go-vim.git
